# Magento Database Configuration
MAGENTO_DB_HOST=localhost
MAGENTO_DB_PORT=3306
MAGENTO_DB_USER=
MAGENTO_DB_PASSWORD=
MAGENTO_DB_NAME=

# ERP Database Configuration
ERP_DB_HOST=localhost
ERP_DB_PORT=3306
ERP_DB_USER=
ERP_DB_PASSWORD=
ERP_DB_NAME=

# Microsoft Azure / MSAL Configuration for Email
MSAL_CLIENT_ID=7e190e51-e0f4-444a-9971-f967a1d807d7
MSAL_CLIENT_SECRET=client_secret
MSAL_TENANT_ID=40e79cfc-96af-47bd-9b38-1a47fce80731
EMAIL_SENDER=mwreports@mediaworldiq.com
EMAIL_RECIPIENTS=yazan.majdalawi@mediaworldiq.com,anotherEmail@temp.com

# Disabled Checks Configuration
DISABLED_CHECKS=CityValidationMag,MissingProductImagesMag

